body{
    
}
header{

    
}
section{
    width: 900px;
    height: 85px;
    border: 3px solid rgb(233, 16, 16);
    padding: 10px 20px;  
    margin-top: -90px  ; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div{
    margin: -10px;
}
footer{
   
}
img{ 
    width: 160px;
    margin-left: 10px;
}
h1#login{
    text-align: center;
}
select{
    width: 946px;
    
}
